@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    font-family: Fredoka;
    transition: 0.5s ease-in-;
}

button  {
    padding: 10px; /* hoe groot de knop is px staat voor pixel */
    background-color: #adff84; /* kleur van alle knoppen */
    border-radius: 10px; /* rand van de knop */
    cursor: pointer;
    transition: transform 0.2s ease-in-out; /* maakt de knop groter, het duurt 0,2 seconde */
}

img {
    border-radius: 15px; /* maakt de hoeken van de afbeeldingen rond */
    max-width: 100%; /* Zorgt ervoor dat de afbeeldingen altijd tot maximaal 1--% van de breedte van het scherm groot zijn, zo past het ook op telefoon! */
}

button:hover {
    transform: scale(1.25);
}

