@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    font-family: Fredoka;
}

button  {
    padding: 10px;
    background-color: #55ff00;
    border-radius: 10px;
    cursor: pointer;
}

img {
    border-radius: 15px;
}

button:hover {
    size: 1.1em;
}