@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    font-family: Fredoka;
    transition: 0.5s ease-in-;
}

button  {
    padding: 10px;
    background-color: #b8ff94;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

img {
    border-radius: 20px;
    max-width: 100%;
}

button:hover {
    transform: scale(1.25);
}

